/*CSS*/
th {
	border-bottom: 3px solid gray;
	font-size: 1.5em;
}

table {
	width: 100%;
	padding-top: 20px;
}

table tbody tr td:first-child {
	width: 10%;
}

h4 {
	margin: 2px 0px 2px 10px;
	font-size: 1.3em;
}

ul {
	margin: 2px 0px 2px 0px;
}

#cv_title {
	margin-top: 2px;
	margin-bottom: 0px;
	float: left;
	font-size: 7em;
}

#contact_info {
	width: 40%;
	text-align: right;
	float: right;
}

#contact_info tr:first-child {
	font-size: 2em;
}

#resume_body {
	margin: auto;
	width: 80%;
}

#language_skills {
	float: left;
	width: 45%;
}

#computer_skills {
	float: right;
	width: 45%;
}